{%extends "base.html"%}
{%block content%}
    <div class="col-container width-100">
        <section class="row-container-160by2 account-body">
            <aside class="account-aside">
                    <div class="aside-item">
                        <a class="styled-button" href="{{url_for('messages.message')}}">
                            Message
                        </a>
                    </div>
                    
                    <div class="aside-item">
                        <a class="styled-button" href="{{url_for('contacts.contact')}}">
                            Contact
                        </a>
                    </div>
                    <div class="aside-item">
                        <a class="styled-button" href="{{url_for('messages.sent_messages')}}">
                            Sent
                        </a>
                    </div>
            </aside>
            {%block main%}
            {%endblock main%}
        </section>
        
    </div>
{%endblock content%}