{%extends "account.html"%}
{%block main%}

<div class="registration-form contact-form">
    <form action="" class="form-group" method="POST" novalidate>
        {{ form.hidden_tag() }} 
        <div class="form-field">
            {{form.contact_name(class="form-field form-control form-control-lg", placeholder="Contact Name")}}
            {%for error in form.contact_name.errors%}
                <div class="error-feedback"><span>{{error}}</span></div>
            {%endfor%}
        </div>
        <div class="form-field">
            {{form.contact_no(class="form-field form-control form-control-lg", placeholder="Contact Number")}}
            {%for error in form.contact_no.errors%}
                <div class="error-feedback"><span>{{error}}</span></div>
            {%endfor%}
        </div class="form-field">
        <div>
            {{form.gender(class="gender")}}
        </div>

        {{form.add_contact(class="styled-button site-theme-color")}}
 
    </form>
</div>

<!-- <form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
        <div>
            {{form.contact_name.label}}
            {{form.contact_name}}
            <br>
            {%for error in form.contact_name.errors%}
                <span style="color:red;">[{{error}}]</span>
            {%endfor%}
        </div>
        <div>
            {{form.contact_no.label}}
            {{form.contact_no}}
            <br>
            {%for error in form.contact_no.errors%}
                <span style="color:red;">[{{error}}]</span>
            {%endfor%}
        </div>
        <div>
            {{form.gender.label}}
            {{form.gender}}
        </div>
        {{form.add_contact}}
</form>              
  -->
{%endblock main%}