{% extends "base.html" %}
{% block content %}
<div class="registration-form-container">
        <div class="registration-form">
            <form action="" class="class='form-group'" method="POST" novalidate>
                {{ form.hidden_tag() }} 
                <div class="form-field">
                    {{form.mobile_no(class="form-field form-control form-control-lg", placeholder="Mobile Number")}}
                    {%for error in form.mobile_no.errors%}
                        <div class="error-feedback"><span>{{error}}</span></div>
                    {%endfor%}
                </div>
                {{form.submit(class="styled-button site-theme-color")}}
                
            </form>
        </div>
    </div>
{% endblock content %}