{% extends "base.html" %}
{% block content %}
    <div class="">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="">
                <legend class="">Reset Password</legend>
                <div class="">
                    {{ form.mobile_no.label(class="") }}
                    {% if form.mobile_no.errors %}
                        {{ form.mobile_no(class="") }}
                        <div class="">
                            {% for error in form.mobile_no.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.mobile_no(class="") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="">
                {{ form.submit(class="") }}
            </div>
        </form>
    </div>
{% endblock content %}